.parentlogin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
  background-color: lightgray;
  background-image: linear-gradient(
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );

  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(193, 193, 207, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  ); */
}
